numpy==1.18.1
torchsummary==1.5.1
nibabel==3.0.2
tqdm==4.44.1
matplotlib==3.2.1
pretrainedmodels==0.7.4
pathlib2==2.3.5
torchvision==0.4.2
torch==1.13.1
Pillow==7.1.1
ranger==0.10
skimage==0.0
tensorboardX==2.0
